name: CI with Cache

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Restore cache
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache-demo
          key: cache-8acf1d4

      - name: prime-cache-8acf1d4
        run: |
          echo "Cache hit? ${{ steps.cache.outputs.cache-hit }}"
          mkdir -p ~/.cache-demo
          echo "Cached on $(date)" > ~/.cache-demo/demo.txt

      - name: Show cached file
        run: cat ~/.cache-demo/demo.txt || echo "No cache yet"
